{storage={A="bottom",B="top",[1]="top",[2]="top",[3]="top",[4]="top",[5]="top",X="top"},
apiaries={
{biome="P-2H",transposer=1,side="north"},
{biome="P",transposer=1,side="south"},
{biome="P",transposer=1,side="east"},
{biome="P+2T",transposer=1,side="west"},
{biome="W",transposer=2,side="north"},
{biome="E",transposer=2,side="south"},
{biome="H",transposer=2,side="east"},
{biome="H",transposer=2,side="west"},
{biome="J",transposer=3,side="south"},
{biome="J",transposer=3,side="north"},
{biome="O+2H",transposer=3,side="east"},
{biome="D",transposer=3,side="west"},
{biome="P",transposer=4,side="south"},
{biome="P",transposer=4,side="east"},
{biome="P",transposer=4,side="west"},
{biome="H",transposer=4,side="north"},
{biome="P",transposer=5,side="south"},
{biome="P",transposer=5,side="east"},
{biome="P",transposer=5,side="west"},
{biome="P",transposer=5,side="north"},
{biome="H",transposer="X",side="north",unsafeok="true"},
{biome="H",transposer="X",side="south",unsafeok="true"},
{biome="H",transposer="X",side="east",unsafeok="true"},
{biome="H",transposer="X",side="west",unsafeok="true"}
},
furnace={transposer="A",side="west"},
sampler={transposer="B",side="east"},
imprinter={transposer="B",side="north"},
mutator={transposer="B",side="west"},
analyzer_input={transposer="A",side="east"},
transposers={
A="39ab5c45-9958-4f92-8ef1-0ee25294b951",
B="0d685ddf-f76f-4e82-9952-295c316ba72c",
[1]="6c7e8c2b-e262-4851-ae0c-d8a747e7227e",
[2]="5cc68ba9-3a33-43b5-8895-f2a4a6fe2816",
[3]="02307a10-82ea-43d5-bf2e-6f42a2c3d9c5",
[4]="b8df282b-e70c-459e-a5da-480b3a1e2ab8",
[5]="01924105-9592-4f86-b02f-6b390471bea4",
X="a0b720cb-c339-4760-b73b-a918f0ddb646"
},
junk={{side="south",transposer="B"}},
interface={side="north",transposer="A"},
targetSpecies={}
}
